body {
    color: #2d4059;
    font-family: "Wotfard","Wotfard-fallback",sans-serif;
}
h1 {
    background-color: #EA5455;
    color: #FFD460;
    font-size: 30px;
    padding: 40px;
    margin: 0%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.descripcion {
    justify-content: center;
    width: 500px;
    margin: 15px;
}
button {
    background-color: rgba(194, 0, 0, 0.548);
    border: none;
    border-radius: 10px;
}
