body {
    margin: 0;
    font-family: 'Crimson Text', serif;
    flex-direction: column;
}
body, h1, .descripcion, img, .des, .preparacion {
    display: flex;
}
h1 {
    background-color: #2f2f2f;
    color: #ffc831;
    font-size: 40px;
    padding: 30px;
    margin: 0%;
    align-items: center;
    gap: 100px;
}
.descripcion {
    justify-content: center;
    gap: 50px;
    padding-top: 40px;
}
img {
    border-radius: 8px;
    min-width: 0%;
}
.des {
    align-items: center;
    width: 700px;
    font-size: 30px;
}
.ing, .prep, .descripcion {
    font-size: 30px;
}
.ing, .prep {
    padding: 40px;
}
li {
    margin: 15px;
}
